.app {
	font-size: 1.2em;
}

$main_color: #fa34e8;
$line_color: #cccdcc;

h1 {
	color: $main_color;
	background-color: rgba($main_color, 0.1);
}

table {
	* {
		border: $line_color 1px solid;
		padding: 10px;
	}
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

header {
	text-align: center;
	position: static;
}

.import-more {
	text-align: center;
	padding: 10px;
}

.name {
	min-width: 200px;
}

.profession {
	text-align: center;
}

.traits {
	text-align: left;
}

.has-children {
	text-align: center;
}

.btn {
	background: #3498db;
	background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
	background-image: -moz-linear-gradient(top, #3498db, #2980b9);
	background-image: -ms-linear-gradient(top, #3498db, #2980b9);
	background-image: -o-linear-gradient(top, #3498db, #2980b9);
	background-image: linear-gradient(to bottom, #3498db, #2980b9);
	-webkit-border-radius: 28;
	-moz-border-radius: 28;
	border-radius: 28px;
	text-shadow: 1px 1px 3px #666666;
	font-family: Arial;
	color: #ffffff;
	font-size: 20px;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
}

.btn:hover {
	background: #3cb0fd;
	background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
	background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
	text-decoration: none;
}
